
.progress{
    width: 100%;
    background: #eee;
    height: 40px;
    margin: 15px;
    @include laptop {
        height: 30px;
    }
}

.bar-1, .bar-2, .bar-3, .bar-4, .bar-5 {
    width: 0;
    color: #fff;
    height: 40px;
    
    padding: 6px 10px 0;
    text-align: left;

    font-family: $default-font;
    font-size: 13px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    @include laptop {
        font-size: 8px;
        line-height: 20px;
    }
}

.bar {

    &-1 {
        background-color: #9c5da5;
    }

    &-2 {
        background-color: #11b0de;
    }
    &-3 {
        background-color: #d67f7f;
    }
    &-4 {
        background-color: #20bc9d;
    }
    &-5 {
        background-color: #bb8a36;
    }
}


