
.tabs {
    width: 70%;
    margin-top: 20px;
 }
 
 /* Стили для списка вкладок */
 .tab-header {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;

    font-family: $default-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    color: #ffffff;

 }
 
 /* Стили для вкладки */
 .tab-header__item {
    padding: 10px 20px;
    cursor: pointer;
    
    border-bottom: none;
 }
 
 /* Стили для активной вкладки */
 .tab-header__item.active {
    color: $main-color-1;
    position: relative;
    top: 1px;   
 }

 .tab-header__item.active:before {
    content: "";
    display: block;
    width: 75px;
    height: 1px;
    margin: 0 auto;
    background-color: $main-color-1;
 }
 
 /* Стиль для списка контейнеров с содержимым вкладок */
 .tab-content {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
 }
 
 /* Стили для контейнера с содержимым вкладки */
 .tab-content__item {
    display: none;
    margin-top: 20px;
 }
 
 /* Стили для активного контейнера вкладки */
 .tab-content__item.active {
    display: block;
 }


 // == Tabs  --- section  " Work "

.tab-header.tabs-box {
    justify-content: flex-end;
 }


.tab-header__item.js-tab-trigger.work-tabs {
   color: #565656;
   text-transform: uppercase;
   font-family: $default-font;
   font-size: 14px;
   font-weight: 400;
   line-height: 42px;
   border: 1px solid grey;
 }

 .tab-header__item.js-tab-trigger.work-tabs.active {
    border-top: 2px solid $main-color-1;
 }

 .tab-header__item.js-tab-trigger.work-tabs.active::before {
    display: none;
 }
.tab-header.tabs-box {
   justify-content: center;
   margin-top: 100px;
}

.tabs-margin {
    margin: 50px auto 0;
 }


@include desktop {
   .tab-header {
      font-size: 10px;
      line-height: 22px;
      padding-left: 12%;
      &__item {
         padding: 10px 15px;
      }
   }
   .tab-content__item, .active {
      font-size: 13px;
   }
   .tabs {
      width: 90%;
   }
   .tab-header.tabs-box {
      margin-top: 70px;
      padding-left: 2%;
   }
   .services .tab-header__item.js-tab-trigger.services-tabs {
      font-size: 12px;
   }
}
@include laptop {
   
   .tab-header {
      font-size: 10px;
      line-height: 22px;
      &__item {
         padding: 10px 9px;
      }
   }
   .tab-content__item, .active {
      font-size: 10px;
   }
   .tab-header.tabs-box {
      padding-left: 0;
   }
}

@include tablet {
   .tabs {
      width: 95%;
   }
   .tab-content__item, .active {
      font-size: 8px;
   }
   .tab-header {
      font-size: 8px;
      padding-left: 8%;
   }
   .services .tab-header__item.js-tab-trigger.services-tabs {
      font-size: 8px;
   }
}
@include phone {
   .tabs {
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;
   }
   .tab-header {
      padding-left: 24%;
   }
   .tab-content__item {
      font-size: 11px;
      text-align: center;
   }
   .tab-header__item.js-tab-trigger.work-tabs {
      font-size: 8px;
      line-height: 6px;
   }
   .services .tab-header__item.js-tab-trigger.services-tabs {
      line-height: 10px;
      font-size: 7px;
   }
   
}
// === Services-tabs ===


// === / Services-tabs ===

 