@mixin desktop {
  @media (max-width: 1200px) {
    @content
    }
  };
@mixin laptop {
  @media (max-width: 992px) {
    @content
    }
  };
@mixin tablet {
  @media (max-width: 768px) {
    @content
    }
  };
@mixin phone {
  @media (max-width: 600px) {
    @content
    }
  }; 
@mixin small-phone {
  @media (max-width: 480px) {
    @content
    }
  };

  // @include tablet