$default-font: 'Montserrat';
$main-color-1: #18cfab;
$main-color-2: #1c2a33;
$header-color:  #49473f;
$nav-color: #b8b8b8;
$title-color: #717171;
$subtitle-color: #777777;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
// $grid-gutter-width: 32px
// $grid-columns: 12
// $grid-breakpoints: (xs: 480, sm: 640px, md: 768px, lg: 992px, xl: 1200px)
// $container-max-widths: (xs: sm: 540px, md: 720px, lg: 960px, xl: 1140px)

// $gutter: $grid-gutter-width
