 // ===  Section-header ===

.section-header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color:  rgba(73, 71, 63, .5);;

  z-index: 9999;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  
  &__text {
    color: $main-color-1;
    font-family: $default-font;
    font-size: 32px;
    font-weight: 700;
    line-height: 65px;
  }

  &__nav {
    align-items: center;
  }

  .nav__link {
    color: $nav-color;
    font-family: $default-font;
    font-size: 13px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.8s ease;
  }
  .nav__link:hover {
    text-decoration: none;
    color: $main-color-1;
  }
  .nav__link:hover:after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    margin: 0 auto;
    background-color: $main-color-1;
  }
  .active {
    color: $main-color-1;
  }

  // Burger menu start 
  .burger-menu {
    display: none;
}

@media (max-width: 1599px) {
  
  .nav__link {
    display: none;
  }

  .burger-menu {
      display: flex;
      
          input + label {
          position: absolute;
          top: 37%;
          right: 40px;
          height: 28px;
          width: 30px; 
          z-index: 5;
          span {
              position: absolute;
              width: 100%;
              height: 2px;
              top: 50%;
              margin-top: -1px;
              left: 0;
              display: block;
              background: $main-color-1;
              transition: .5s;
          }
          span:first-child {
              top: 3px; 
          }
          span:last-child {
              top: 25px; 
          }      
          }
          label:hover {
          cursor: pointer;
          }
          input:checked + label { 
          span {
              opacity: 0;
              top: 50%;
          }
          
          span:first-child {
              opacity: 1;
              transform: rotate(405deg);
          }
          span:last-child {
              opacity: 1;
              transform: rotate(-405deg);
          }
          }
          input ~ nav {
          background: rgba(60, 154, 191, 0.9);;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 3;
          transition: .5s;
          transition-delay: .5s;
          overflow: hidden;
          > ul {
              text-align: center;
              position: absolute;
              top: 20%;
              left: 20%;
              right: 20%;
              > li, p {
              opacity: 0;
              transition: .5s;
              transition-delay: 0s;
              list-style-type: none;
              > a {
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 40px;
                  text-decoration: none;

                  text-align: center;
                  letter-spacing: 0.05em;
                  text-transform: uppercase;

                  color: #FFFFFF;
                  }
              }
          }
          }
          input:checked ~ nav { 
          height: 500px;
          transition-delay: 0s;
          > ul {
              > li, p {
              opacity: 1;
              transition-delay: .5s;
                  }
              }
          } 
      }
  }   
  @media (max-width: 415px) {
      
      padding: 30px 20px;

      &__logo {
          img {
              width: 40px;
              height: 40px;
          }
          h1 {
              width: 133px;
              font-size: 20px;
              line-height: 30px;                
          }
      }
      .burger-menu {
          input ~ nav {
              height: 0;
          }
          input + label {
              top: 43px;            
          }
      }
  }
// burger menu finish
}




// ===  / Section-header ===

// === Hero ===
.section-hero {
  margin-top: 245px;
  &__content {
    margin: 0 auto;
  }
  &__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
    color: #fff;
    font-family: $default-font;
    &-color {
      color: $main-color-1;
    }
  }
  &__subtitle {
    margin-top: 45px;
    font-size: 79px;
    font-weight: 700;
    line-height: 85px;
    text-transform: uppercase;
    color: #fff;
    font-family: $default-font;
  }
  &__text {
    font-size: 34px;
    font-weight: 300;
    line-height: 85px;
    color: #fff;
    font-family: $default-font;
  }
  &__buttons {
    padding-top: 145px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .btn-left {
    background-color: $main-color-1;
  }
  .btn-right {
    background-color: #00cbf6;
  }
  .btn-left:hover, .btn-right:hover {
    opacity: 0.9;
  }
  .btn {
    font-family: $default-font;
    font-size: 13px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    width: 160px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .carousel-1 {
    margin: 145px auto 120px 80% ;
    position: absolute;
    width: 170px;
    height: 105px;
    padding-bottom: 120px;
  }

  .owl-carousel .owl-nav button.owl-next {
  background-color: $main-color-1;
  width: 63px;
  height: 63px;
  border-radius: 0;
  outline: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .owl-carousel .owl-nav button.owl-prev {
  background-color: $main-color-1;
  transform: rotate(180deg);
  margin-right: 20px;
  width: 63px;
  height: 63px;
  border-radius: 0;
  outline: none;
  }

  .owl-carousel .owl-nav button.owl-next:hover  {
    background-color: #00cbf6;
  }
  .owl-carousel .owl-nav button.owl-prev:hover  {
    background-color: #00cbf6;
  }

  .owl-theme .owl-nav [class*=owl-] {
    background: none;
  }
}

@include laptop {
  .section-hero {
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 60px;
    }
    &__text {
      font-size: 26px;
    }
  }
  .section-hero .carousel-1 {
    margin: 230px 50% 120px 40%;
  }
}

@include tablet {
  .section-hero {
    &__title {
      font-size: 26px;
    }
    &__subtitle {
      margin-top: 30px;
      font-size: 50px;
    }
    &__text {
      font-size: 24px;
    }
    &__buttons {
      padding-top: 45px;
    }
  }
  .section-hero .carousel-1 {
    margin: 160px 50% 120px 39%;
  }
}

@include phone {
  .section-hero .carousel-1 {
    display: none;
  }
  .header-hero-background {
    min-height: 640px;
  }
  .section-hero {
    margin-top: 180px;
    &__title {
      font-size: 20px;
    }
    &__subtitle {
      margin-top: 20px;
      font-size: 40px;
    }
    &__text {
      font-size: 18px;
    }
    &__buttons {
      padding-top: 45px;
    }
  }
}

// === / Hero ===


// ===  About ===

.section-about {

  &__square-1 {
    background-color: $main-color-2;
    border-top: 7px solid $main-color-1;
    padding-top: 95px;
  }
  &__square-2 {
    background-color: $main-color-1;
    border-top: 7px solid #fff;
    padding-top: 106px;
  }
  
  &__title-turquoise {
    color: $main-color-1;
    padding-top: 48px;
  }
  &__title-white {
    color: #fff;
    padding-top: 58px;
  }
  &__title-white, &__title-turquoise {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: $default-font;
    padding-bottom: 120px;
    margin-bottom: 0;
  }
  
  &__img-turquoise {
    height: 96px;
    width: 60px;
  }
  &__img-white {
    height: 75px;
    width: 95px;
  }
}

@include desktop {
  .section-about {
    &__square-1 {
      padding-top: 50px;
    }
    &__square-2 {
      padding-top: 61px;      
    }
    &__img-turquoise {
      height: 80px;
      width: 48px;
    }
    &__img-white {
      height: 59px;
      width: 84px;
    }
    &__title-turquoise, &__title-white {
      font-size: 16px;
      padding-bottom: 100px;
    }
  }
@include laptop {
  .section-about {
    &__title-turquoise, &__title-white {
      padding-bottom: 50px;
      font-size: 12px;
    }
  }
}
}

// === / About ===


// === Features ===

.features {   

  &-container {
    padding-top: 80px;

    &__box {
      display: flex;
      flex-direction: row;
      justify-content: left;
    }

    &__img {
      padding-right: 25px;
      height: 35px;
    }

    &__title {
      
      color: $title-color;
      font-family: $default-font;
      font-size: 18px;
      font-weight: 700;
      line-height: 40px;
    }

    &__subtitle {
      text-align: left;
      color: $subtitle-color;
      font-family: $default-font;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
    }
  }
}
@include laptop {
  .features-container {
    padding-top: 55px;
    &__title {
      line-height: 30px;
      font-size: 14px;
    }
    &__img {
      height: 25px;
      padding-right: 12px;
    }
    &__subtitle {
      font-size: 12px;
    }
  }
}
@include tablet {
  .custom-bcg {
    display: none;
  }
}
@include phone {
  .contents-title {
    font-size: 26px;
    line-height: 14px;
  }
  .contents-title:after {
    margin-top: 25px;
  }
  
}
// === / Features ===

// === Company ===
.inline {
  display: inline-flex;
  width: 100%;
}
.company {
  background-image: url('../img/background/background_company.jpg');
  min-height: 700px;
  margin-top: 100px;
  position: relative;

  &__img {    
    min-width: 50%;
    &-1 {
      position: absolute;
      bottom: 0;
      left: 0px;
    }
    &-2 {
      position: absolute;
      bottom: -40px;
      
      z-index: 1;
    }
  }

  &-content {
    min-width: 50%;

    &__h2 {
      margin-top: 100px;
      text-align: left;
      color: #ffffff;
      font-family: $default-font;
      font-size: 36px;
      font-weight: 400;
      line-height: 40px;
    }
    &__h2:after, &__double-strip:after {
      content: "";
      display: block;
      width: 75px;
      height: 1px;
    }

    &__h2:after {
      margin: 30px 85% 0 15%;
      background-color: $main-color-1;
    }
    &__double-strip:after {
      margin: 1px 84% 0 16%;
      background-color: $main-color-1;
    }
  }
  @include desktop {
    &-content {
      min-width: 40%;
      &__h2 {
        margin-top: 80px;
        font-size: 32px;
        line-height: 36px;
      }
    }
  }
  @include laptop {
  min-height: 460px;
    &-content {
      &__h2 {
        font-size: 25px;
        line-height: 10px;
      }
    }
    &__img-1 {
      width: 40%;
    }
    &__img-2 {
      width: 20%;
      bottom: -24px;
    }
  }
  @include tablet {
    min-height: 400px;
    &__img-2 {
      bottom: -18px;
    }
  }
  @include phone {
    &__img {
      display: none;
    }
    &-content {
      &__h2 {
        text-align: center;
      }
      &__h2:after{
        margin: 20px 0 0 39%;
      }
      &__double-strip:after {
        margin: 1px auto;
      }
    }
  }
}



// === / Company ===

// === Wokr ===

.work {

  &-img {
    margin-right: -2px;
    margin-left: -2px;
    transition: opacity .1s linear;
  }
  @include tablet {
    &-img {
      width: 200px;
    }
  }
  @include phone {
    &-img {
      width: 100px;
    }
  }

}

// === / Wokr ===


// === Services ===


.services {

  &-content {
    
    &__img {
      width: 194px;
      height: 140px;
      margin-right: 20px;
    }
    &__text {
      text-align: left;
      color: $subtitle-color;
      font-family: $default-font;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
    }
  }
  @include desktop {
    &-content__img {
      width: 175px;
      margin-left: 18px;
    }
  @include laptop {
    &-content__img {
      margin-left: 5px;
    }
  }
  @include phone {

  }
  }

  .tab-header__item.services-tabs {
    padding-right: 0;
    padding-left: 0;
  }
 
  .tab-header__item.js-tab-trigger.services-tabs.active {
      background-color: $main-color-1;
  }
 
  .tab-header__item.js-tab-trigger.services-tabs.active::before {
      display: none;
  }

  .tab-header__item.js-tab-trigger.services-tabs{
    text-transform: capitalize;    
    color: $title-color;
    font-family: $default-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    border: 1px solid $title-color;
    background-color: #f8fcfe;
  }

  .tab-header__item.js-tab-trigger.services-tabs.active {
    color: #fff;    
    position: relative;
  }
  .tab-header__item.js-tab-trigger.services-tabs.active:after {
    content: '';
    position: absolute;
    border: 10px solid;

    border-color: $main-color-1 transparent transparent transparent;
    top: 100%;
    left: 50%;
    margin-left: -10px;
  }

  .tab-content__item.js-tab-content.services-content.active {
    display: flex;
  }  
  
}

// ===/  Services ===

// === Advantage ===

.advantage {
  margin-top: 100px;
  background-repeat: no-repeat;
  background-image: url('../img/background/background-advantage.jpg');
  &-title {
    margin-top: 135px;
    color: $main-color-1;
    font-family: $default-font;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
  }

  &-subtitle {
    margin-top: 36px;
    color: #d8d8d8;
    font-family: $default-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
  }
  &-btn {
    color: #ffffff;
    font-family: $default-font;
    font-size: 13px;
    font-weight: 700;
    line-height: 31.83px;
    text-transform: uppercase;

    margin-top: 80px;
    margin-bottom: 127px;
    height: 60px;
    width: 165px;
    background-color: $main-color-1;
    border-radius: 4px;
  }
  @include desktop {
    &-title {
      font-size: 30px;
      line-height: 24px;
    }
  }
  @include laptop {
    &-title {
      margin-top: 90px;
      font-size: 22px;
    }
    &-subtitle {
      font-size: 14px;
      line-height: 20px;
    }
    &-btn {
      height: 45px;
      width: 145px;
      font-size: 10px;
      margin-bottom: 60px;
    }
  }
  @include tablet {
    &-title {
      font-size: 18px;
    }
  }
}

// === / Advantage ===


// === News ===

.news {

  &-container {
    
    margin-bottom: 70px;
  }
  &-content {
    width: max-content;
  }
  

  &__img {
    width: 263px;
    height: 229px;
  }

  &__comment {
    padding-top: 15px;
    padding-bottom: 15px;
    
    text-transform: capitalize;
    color: $title-color;
    font-family: $default-font;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;

    border: 1px solid #ebebeb;
    background-color: #e7f1f7;
  }

  &__data {
    right: 7px;
    padding-top: 8px;
    position: absolute;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    
  }

  &__data-month, .news__data {
    color: #ffffff;
    font-family: $default-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .news-content:hover {
    .news__data {
      background-color: $main-color-1;
    }
    .news__comment {
      color: $main-color-1;
    }
    .news__data, .news__comment {
      transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    }
  }
  
}
@include desktop {
  .news {
    &__img {
      width: 240px;
    }
    &__data {
      right: -15px;
    }
  }
}
@include laptop {
  .news {
    &__img {
      width: 175px;
      height: 175px;
    }
    &__data {
      right: -10px;
      width: 58px;
      height: 58px;
    }
    &__comment {
      font-size: 12px;
      line-height: 30px;
    }
    &__data-month, .news__data {
      font-size: 14px;
    }
  }
}

@include tablet {
  .news {
    &__img {
      width: 135px;
      height: 140px;
    }
    &__data {
      right: -15px;
      width: 45px;
      height: 45px;
    }
    &__comment {
      font-size: 10px;
      line-height: 12px;
    }
    &__data-month, .news__data {
      font-size: 10px;
      line-height: 16px;
    }
  }
}
@include phone {
  .news {
    &-content {
      width: 100%;
    }
    &__img {
      width: 105px;
      height: 104px;
    }
    
    &__comment {
      font-size: 8px;
      line-height: 8px;
      width: 105px;
      margin: 0 auto;
    }
    &__data-month, .news__data {
      display: none;
    }
  }
}

// === / News ===

// === About-2 ===

.section-about-2 {
  margin-top: 100px;
  max-height: 374px;
  &__square-1 {
    background-color: $main-color-2;
    border-top: 7px solid $main-color-1;
    padding-top: 106px;
  }
  &__square-2 {
    background-color: $main-color-1;
    border-top: 7px solid $main-color-2;
    padding-top: 106px;
  }

  &__title-turquoise {
    color: $main-color-1;

  }
  &__title-white {
    color: $main-color-2;

  }
  &__title-white, &__title-turquoise {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    font-family: $default-font;
    padding-bottom: 55px;
    margin-bottom: 0;
    margin-top: 20px;
  }

  &__title-white__number, &__title-turquoise__number {
    padding-top: 130px;
    color: #ffffff;
    font-family: $default-font;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
  }

  &__round-turquoise, &__round-white {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    position: absolute;
    right: 33%;
    top: 10%;
    
  }

  &__round-turquoise {
    border: 1px solid $main-color-1;
    background-image: radial-gradient(circle closest-corner at 50% 50%, $main-color-1 50%, transparent 52%)
  }
  &__round-white {
    border: 1px solid $main-color-2;
    background-image: radial-gradient(circle closest-corner at 50% 50%, $main-color-2 50%, transparent 52%)
  }
  
  &__img-turquoise {
    z-index: 1;
    padding-top: 64px;
  }

  &__img-white {
    z-index: 1;
    padding-top: 64px;
  } 

  @include desktop {
    &__square-1, &__square-2 {
      padding-top: 70px;
    }
    &__title-turquoise__number, &__title-white__number {
      line-height: 30px;
      font-size: 26px;
    }
    &__title-turquoise, &__title-white {
      font-size: 18px;
      padding-bottom: 35px;
    }

    &__round-white, &__round-turquoise {
      top: 14%;
      right: 24%;
      width: 135px;
      height: 135px;
    }
    &__img-turquoise, &__img-white {
      padding-top: 48px;
    }
  }
  @include laptop {
    &__round-white, &__round-turquoise {
      right: 17%;
    }
  }
  @include tablet {
    &__round-white, &__round-turquoise {
      right: 30%;
    }
  }
  @include phone {
    &__square-1, &__square-2 {
      padding-top: 70px;
    }
    &__title-turquoise__number, &__title-white__number {
      line-height: 14px;
      font-size: 20px;
    }
    &__title-turquoise, &__title-white {
      font-size: 16px;
      padding-bottom: 5px;
    }
    &__round-white, &__round-turquoise {
      right: 25%;
    }
  }
}


// === / About-2 ===

// === Pricing-table ===

.table {
  margin-top: 100px;
  padding-top: 0;
}

.pricing-table {

  &__container {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    max-height: 600px;
    margin-right: 2px;
    margin-left: 2px;
  }

  &__title {
    padding-top: 10px;
    height: 60px;
    color: $title-color;
    font-family: $default-font;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 0;
  }
  &__subtitle {
    height: 104px;
    background-color: #2e4a5b;
  }
  
  &__text {
    
    padding-top: 32px;
    color: #fff;
    font-family: $default-font;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
  }
  &__span {
    font-size: 14px;
    font-weight: 400;
  }
  &__content {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

    &__number {
      height: 49px;
      padding-top: 10px;
      color: $subtitle-color;
      font-family: $default-font;
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      border-bottom: 2px solid #e1e1e1;
    }
  }

  .btn-pricing {
    margin-bottom: 28px;
    margin-top: 28px;
    padding: 0;
    width: 172px;
    height: 53px;
    border-radius: 2px;
    background-color: #2e4a5b;

    color: #ffffff;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
  }
  .btn-pricing:hover {
    background-color: $main-color-1;
  }
  .active-offer.btn-pricing:hover {
    background-color: $main-color-2;
  }

  .active-offer {    
    background-color: $main-color-1;
    &__text {
      color: $main-color-1;
    }
    &__border {
      box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    }
  }

  @include laptop {
    &__title {
      height: 45px;
      font-size: 15px;
      line-height: 30px;
    }
    &__subtitle {
      height: 80px;
    }
    &__text {
      padding-top: 20px;
      font-size: 26px;
    }
    &__content__number {
      height: 36px;
      font-size: 12px;
    }
  }
  @include tablet {
    &-container {
      margin-top: 120px;
    }
    &__title {
      height: 35px;
      font-size: 12px;
      line-height: 18px;
    }
    &__subtitle {
      height: 60px;
    }
    &__text {
      padding-top: 12px;
      font-size: 20px;
    }
    &__content__number {
      height: 32px;
      font-size: 10px;
    }
    .btn-pricing {
      margin-top: 8px;
      margin-bottom: 8px;
      height: 38px;
      width: 118px;
      font-size: 11px;
      line-height: 40px;
    }
  }
}
// === / Pricing-table ===


// === critique ===

.critique {
  background-image: url('../img/background/background-slick.jpg');
  padding-bottom: 120px;
  margin-top: 100px;
  &-container {
    margin-bottom: 70px;
    margin-top: 100px;
  }
  .title-white {
    color: #fff;
  }
}

// === / critique ===


// === Team ===

.team {

  &-header {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .team-container {

    &__portrait-img {
      max-width: 255px;
      max-height: 176px;
    }
    &__info {
      background-color: $main-color-2;
      text-align: left;
      padding-left: 20px;
    }
    &__info-name {
      margin-bottom: 0;
      padding-top: 22px;
      color: #ffffff;
      font-family: $default-font;
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      text-transform: capitalize;
    }
    &__info-position {
      padding-bottom: 21px;
      margin-bottom: 0;
      color: $main-color-1;
      font-family: $default-font;
      font-size: 13px;
      font-weight: 300;
      line-height: 28px;
      text-transform: capitalize;
    }

    &__social-content {
      background-color: $main-color-2;
      border-top: 1px solid #fff;      
    }

    &__social-content a{
      width: 60px;
      height: 60px;
      padding-top: 19px;
      margin-left: 0;

      border-right: 1px solid #fff;
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      color: #fff;
    }
    &__social-content a:last-child {
      border-right: none;
    }
  }

  .team-container:hover {
    
    .team-container__info, .team-container__social-content {
      background-color: $main-color-1;
    }
    .team-container__info-position {
      color: $title-color;
    }
    
    .team-container__info, .team-container__info-position, .team-container__social-content {
      transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    }
  }
  @include desktop {
    .team-container {
      max-width: 210px;
      &__portrait-img {
        max-width: 210px;
      }
      &__info {
        text-align: center;
        padding-left: 0;
      }
      &__social-content a {
        width: 48px;
        height: 45px;
        padding-top: 10px;
      }
    }
  }
  @include laptop {
    .team-container {
      max-width: 150px;
      &__portrait-img {
        max-width: 150px;
      }
      &__info-name {
        font-size: 12px;
        padding-top: 10px;
      }
      &__info-position {
        font-size: 11px;
        padding-bottom: 10px;
      }
      &__social-content a {
        width: 34px;
        height: 40px;
        padding-top: 5px;
      }
    }  
  }
  @include tablet {
    .team-container {
      max-width: 220px;
      &__portrait-img {
        max-width: 220px;
      }
      &__info-name {
        line-height: 14px;
      }
      &__social-content a {
        width: 50px;
      }
    }
  }
  @include phone {
    .team-header {
      margin-bottom: 60px;
      margin-top: 60px;
    }
    .team-container {
      max-width: 211px;
      &__portrait-img {
        max-width: 211px;
      }
      &__social-content a {
        width: 48px;
        height: 35px;
        padding-top: 9px;
        font-size: 12px;
      }
    }
  }
  @include small-phone {
    .team-header {
      margin-top: 40px;
    }
    .team-container {
      max-width: 148px;
      &__portrait-img {
        max-width: 148px;
      }
      &__social-content a {
        width: 33px;
      }
    }
  }
}

// === / Team ===


// === Skills ===

.skills {

  margin-top: 80px;
  background-image: url('../img/background/background-mount.jpg');

  &-container {
    padding-top: 110px;

    &__title {
      color: #fff;
      font-weight: 700;
      font-size: 50px;
      text-transform: uppercase;
    }

    &__subtitle {
      color: $main-color-1;
      font-weight: 400;
      font-size: 40px;
      text-transform: uppercase;
    }
  }
  
  
  &-content {
    background-image: url('../img/gajets/mackbook.png');
    background-repeat: no-repeat;
    padding-bottom: 420px;
    
    &__box {
      padding-top: 120px;
      list-style: none;
    }

    &__item {
      color: #f7f7f7;
      font-family: $default-font;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 300;
      line-height: 35px;
      text-align: left;

    }
    &__item::before {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url('../img/icons/creative_icons/check_mark.png');
      position: absolute;
      left: 20px;
      margin-top: 5px;
    }
  }
  .btn-skills {
    margin-left: 30px;
    width: 165px;
    height: 60px;
    font-size: 13px;
    font-weight: 700;
    line-height: 32px;
    float: left;
    background-color: $main-color-1;
    text-transform: uppercase;
  }

  .btn-skills:hover {
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    background-color: $main-color-2;
  }
  @include desktop {
    .skills {
      &-container {
        &__title {
          font-size: 40px;
        }
        &__subtitle {
          font-size: 30px;
        }
      }
      &-content {
        padding-bottom: 300px;
      }
    }
  }
  @include laptop {
    .skills {
      &-container {
        &__title {
          font-size: 32px;
        }
        &__subtitle {
          font-size: 26px;
        }
      }
      &-content {
        padding-bottom: 100px;
        background-image: none;
      }
    }
    .btn-skills {
      height: 45px;
      width: 150px;
      font-size: 10px;
    }
  }
  @include tablet {
    .skills {
      &-container {
        &__title {
          font-size: 24px;
        }
        &__subtitle {
          font-size: 19px;
        }
      }
      &-content__box {
        padding-top: 80px;
      }
      &-content__item {
        font-size: 12px;
      }
    }
  }
  @include phone {
    .skills {
      &-container {
        &__title {
          font-size: 16px;
        }
        &__subtitle {
          font-size: 13px;
        }
      }
    }
    .btn-skills {
      line-height: 22px;
      height: 35px;
      width: 125px;
      font-size: 9px;
    }
  }
}

// === / Skills ===

// === keep-touch ===

.keep-touch {
  margin-top: 100px;
  height: 550px;
  &__map {
    width: 50%;
    text-align: left;
    position: absolute;
  }
  
  &__title {
    padding-top: 0;
  }

  &__forms {
    
    display: block;
  }
  &__input-1  {
    height: 55px;
    width: 100%;
    margin-bottom: 11px;
    padding: 15px;
  }
  
  &__input-2 {
    padding: 15px;
    height: 185px;
    width: 100%;
  }
  &__input-1, &__input-2 {
    border: 1px solid $title-color;
  }
  
  .btn-request {
    width: 100%;
    height: 56px;
    background-color: $main-color-1;
    border: none;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .btn-request:hover {
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
    background-color: $main-color-2;
  }

}
@include laptop {
  .keep-touch {
    &__title {
      padding-top: 20px;
      font-size: 24px;
      line-height: 16px;
    }
  }
}
@include tablet {
  .keep-touch {
    height: unset;
    &__map {
      display: none;
    }
    &__input-1 {
      height: 45px;
    }
    &__input-2 {
      height: 150px;
    }
  }
}


// === / keep-touch ===

// === Footer ===

.footer {
  margin-top: 100px;
  background-color: $main-color-2;
  text-align: left;
  
  &-box-1 {
    padding-top: 130px;
    &__first {
      &-title {
        padding-left: 30px;
        color: $main-color-1;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
      }
    }
    &__second {

      &-title {
        padding-top: 80px;
        margin-bottom: 0;
        color: $title-color;
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
      }
      &-subtitle {
        text-transform: capitalize;
      }
    }
    &__third {
      padding-top: 20px;

      &-bold {
        margin-bottom: 0;
        color: $title-color;
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
      }
    }
  }

  &-box-2 {
    padding-top: 130px;

    &__title {
      margin-bottom: 28px;
    }

    &__content {
      display: flex;
      &-image {
        width: 77px;
        height: 66px;
        margin-right: 15px;
      }
    }
  }

  &__title {
    color: #ffffff;
    font-family: $default-font;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
  }
  &__subtitle {
    color: $subtitle-color;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
  }

  &-box-3 {
    padding-top: 130px;

    &__title {
      margin-bottom: 28px;
    }
    &__content {
      &-title {
        padding-top: 36px;
        margin-bottom: 47px;
      }
    }
  }

  &-table {
    border-collapse: unset;
    border-spacing: 8px;
    margin-bottom: 26px;

    &__row {
      text-align: center;
    }
    &__cell {
      width: 65px;
      height: 38px;
      
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
      color: $title-color;
      border: 1px solid #acacac;
    }
    &__cell:hover {
      background-color: $main-color-1;
      color: #fff;
      font-weight: 400;
    }
  }
  &-box-4 {
    padding-top: 130px;

    &__title {
      margin-bottom: 54px;
    }
    &__content {
      
      &-image {
        width: 75px;
        height: 75px;
        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
  }

  
  .content-data {
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
  }
  .hr__color {
    background-color: #294453;
  }
  .copyright {
    padding-top: 46px;
    padding-bottom: 46px;
    margin-top: 175px ;
    text-align: center;
    text-transform: capitalize;
    color: #aeaeae;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;

    background-color: #22353f;
    &-gui {
      color: $main-color-1;
      font-weight: 400;
    }
  }  
}

@include laptop {
  .footer-box-3 {
    display: none;
  }
  .footer-box-4 {
    padding-top: 60px;
    &__title {
      text-align: center;
    }
    &__content {
      display: flex;
      &-image {
        width: 100px;
        height: 100px;
      }
    }
  }
}
@include tablet {
  .footer-box-4__content-image {
    width: 75px;
    height: 75px;
  }
}
@include phone {
  .footer-box-4 {
    display: none;
  }
  .footer .copyright {
    margin-top: 80px;
  }
}

// === / Footer ===