@import './../_mixin';
@import './../vars';


// .container {
//   @include desktop
//     width: 1140px;
//   @include laptop
//     width: 970px;
//   @include tablet
//     width: 720px;
//   @include phone
//     width: 576px;
//   @include small-phone
//     width: 100%;
//   }

html, body {
  height: 100%;
}

body { 
  min-width: 320px;
  font-size: 16px;
  line-height: 1.65;
  font-family: $default-font;
}
.header-hero-background {
  background-image: url('../img/background/hero_background-1-min.jpg');
  height: 100vh;
  min-height: 992px;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  
  position: relative;
  overflow: hidden;
  text-align: center;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.no-margin {
  margin-right: 0;
  margin-left: 0;
}

.margin-b {
  margin-bottom: 70px;
}

main {
  flex: 1 0 auto;
}  

.contents-title {

    text-transform: capitalize;
    padding-top: 100px;
    color: #4e4e4e;
    font-family: $default-font;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
  
  &:after, &__double-strip:after {
    content: "";
    display: block;
    width: 75px;
    height: 1px;
  }

  &:after {
    margin: 30px 85% 0 15%;
    background-color: $main-color-1;
  }

  &:after {
    margin: 40px auto 0;
    background-color: $main-color-1;
  }

  &__double-strip:after {
    margin: 1px 51% 0 49%;
    background-color: $main-color-1;
  }
}

footer {
  flex: 0 0 auto;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
  object-fit: cover;
}
.img-width {
    width: 100%;
}

ul {
	padding: 0
	li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}


.i-center {
  align-items: center;
}

.d-flex {
  display: flex;
}


